.container
	%h1 Welcome to RAM University #{@user.email}

-if current_user.admin == false
	%h2 Current Courses Progress
		
	-courses
	-@courses.each do |course|
		-find_learn(course.learn_id)
		-@learn.each do |learn|
			.row
				.col-sm-5
					%h3= "#{learn.title} #{@complete}/#{@number_of_lectures}" 
				.col-sm-7
					-if @percentage == 100
						.btn.btn-primary
							Take Quiz
					- else
						.progress
							.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar", :style => "width:#{@percentage}%"}
								="#{@percentage}%"
							