= render 'user_dashboard'

%p= @user.email
%p= @user.created_at
%p= @user.admin

%table.table.table-bordered
	%thead
		%tr
			%td Section
			%td Lesson
			%td Status
		- @article.each do |article|
			%tr
				%td= article.title
				%td
				%td
				- @lesson.each do |lecture|
					- if lecture.article_id == article.id
						%tr
							%td
							%td= lecture.title
							%td
