-@lecture.each do |i|
	%h2= i.title
	.htmlMarkUp
		%p= markdown(i.content)
		


.btn-group
	= link_to "Complete", "/progress/add/#{params[:lid]}/#{current_user.id}", class: "btn btn-primary"
- if current_user.try(:admin?)	
	.btn-group
		= link_to "Back", :back, class: "btn btn-default"
		= link_to "Edit",  "/articles/#{params[:id]}/lecture/#{params[:lid]}/edit",class: "btn btn-default"
		= link_to "Destroy", "/articles/#{params[:id]}/lecture/#{params[:lid]}",method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"