%h1= @article.title

.htmlMarkUp
	%p= markdown(@article.content)

	

- if @article.category_id == 4 && user_signed_in?
	-@lecture.each do |lecture|
		%h2= link_to lecture.title, "/articles/#{@article.id}/lecture/#{lecture.id}"
	.btn.btn-default
		= link_to "Create Lecture", "/articles/#{@article.id}/add_lecture"
-if current_user.try(:admin?)
	.btn-group
		= link_to "Back", root_path, class: "btn btn-default"
		- if user_signed_in?
			= link_to "Edit", edit_article_path(@article), class: "btn btn-default"
			= link_to "Delete", article_path(@article),method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"