<%= field_set_tag do %>
	<%= f.label :content, "Answer", class: 'col-xs-2'%>
	<div class="col-xs-5">
		<%= f.text_field :content, class: 'form-control' %>
	</div>
	<div class='col-xs-2'>
		<%= f.hidden_field :_destroy %>
		<%= link_to "remove", "#", class: "remove_fields btn btn-default" %>
	</div>
<% end %>