<div class='field form-group'>
	<%= field_set_tag do %>
		<%= f.label :question, "Question" %></br>
		<%= f.text_area :question, :rows => 3, class: 'form-control'%></br>
		<%= f.label :answer, "Real Answer" %> </br>
		<%= f.text_field :answer, class: 'form-control'%></br>
		<%= f.check_box :_destroy %>
		<%= f.label :_destroy, "Remove Question" %>
	<% end %>
	
	<%= f.fields_for :answers do |builder| %>
		<%= render 'answer_fields', :f => builder %>
	<% end %>
	<p><%= link_to_add_fields "Add Answer", f, :answers %></p>
</div>