<%= simple_form_for @quiz do |f| %>
	<div class='field'>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
	<%= f.fields_for :questions do |builder| %>
		<fieldset>
		<%= builder.label :question, "Question" %></br>
		<%= builder.text_area :question, :rows => 3 %></br>
		<%= builder.label :answer, "Real Answer" %> </br>
		<%= builder.text_field :answer %></br>
		<%= builder.check_box :_destroy %>
		<%= builder.label :_destroy, "Remove Question" %>
		</fieldset>
		<%= builder.fields_for :answers do |builder| %>
			<%= render 'answer_fields', :f => builder %>
		<% end %>
		<p><%= link_to_add_fields "Add Answer", f, :answers %></p>
	<% end %>
	<p><%= link_to_add_fields "Add Question", f, :questions %></p>
	<p><%=f.submit  %></p>
<% end %>
