
%h2= lecture.title
-if user_signed_in? && (@enrolled == true)
	.htmlMarkUp
		%p= markdown(lecture.content)



- if current_user.try(:admin?)	
	.btn-group
		= link_to "Back", :back, class: "btn btn-default"
		= link_to "Edit",  "/learn/#{params[:id]}/lecture/#{params[:lid]}/edit",class: "btn btn-default"
		= link_to "Destroy", "/learn/#{params[:id]}/lecture/#{params[:lid]}",method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
	
-find_status(lecture.id)
-@status.each do |status|	
	-if status.lecture_id = "#{params[:lid]}"
		.btn-group
			%button.btn.btn-success Completed
-if @status.empty?
	.btn-group
		= link_to "Complete", "/progress/add/#{params[:id]}/#{current_user.id}/#{lecture.id}", class: "btn btn-primary"