-@lecture.each do |i|
	%h2= i.title
	-if user_signed_in?
		.htmlMarkUp
			%p= markdown(i.content)



- if current_user.try(:admin?)	
	.btn-group
		= link_to "Back", :back, class: "btn btn-default"
		= link_to "Edit",  "/learn/#{params[:id]}/lecture/#{@lecture.id}/edit",class: "btn btn-default"
		= link_to "Destroy", "/learn/#{params[:id]}/lecture/#{params[:lid]}",method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
	

-@status.each do |status|	
	-if status.lecture_id = "#{params[:lid]}"
		.btn-group
			%button.btn.btn-success Completed
-if @status.empty?
	.btn-group
		= link_to "Complete", "/progress/add/#{params[:id]}/#{current_user.id}/#{params[:lid]}", class: "btn btn-primary"