%h1= @section.title

-if current_user
	-is_enrolled(params[:id])
	-if @enrolled != true
		Add this course now to start your journey on becoming RAM certified!
		.btn.btn-default= link_to "Add Course", "/add/course/#{@section.id}"


-if current_user && !current_user.try(:admin?)
	
	- @lectures.each do |l|
		=render partial: 'learn/lecture_show', locals: {:lecture => l}
-else
	- @lectures.each do |l|
		%h2= l.title

-if current_user.try(:admin?)
	.btn.btn-default
		= link_to "Create Lecture", "/learn/#{@section.id}/add_lecture"

	.btn.btn-default
		= link_to "Destroy", "/learn/#{@section.id}", method: 'DELETE'

=will_paginate @lectures